[2022-09-25 11:44] samipak458 opened #1 "I want to improve the Design of the webpg"

[2022-09-25 11:44] samipak458 commented on #1
@samipak458 kindly assign this to me

[2022-09-25 12:02] #1 closed, assigned to samipak458

[2022-09-27 08:04] dvig14 opened #3 "I want to improve the design of webpage"
@samipak458.

[2022-09-27 08:08] dvig14 commented on #3
@samipak458 .kindly assign this to me.

[2022-09-27 11:50] samipak458 commented on #3
Hi @dvig14,
Can you please elaborate, how will you improve the design of webpage? like are you planning to add gradients in bg or changing the style of adding book & book shelf sections?

By contributing to my repo your contribution will also count in HacktoberFest.

If you haven't register in HacktoberFest yet, so do register.
https://hacktoberfest.com/

[2022-09-27 12:05] praveenscience commented on #3
Hey Sami, great shout-out to you in regards to Hacktoberfest, I just saw your repo that's been recently updated under JavaScript and there are going to be 100s of people participating in your repo! 👍 Thanks for all your good work! 🤗

[2022-09-27 12:18] dvig14 commented on #3
Hey , I will change the design by using css properties like box shadow and
more some changes making the website attractive.

On Tue, 27 Sep 2022, 5:20 pm MUHAMMAD SAMIULLAH, ***@***.***>
wrote:

[2022-09-27 12:24] samipak458 commented on #3
Ok @dvig14,
I'm assigning you this issue, you can now start working on this issue.

[2022-09-27 12:25] dvig14 commented on #3
Thanks a lot. 😊

On Tue, 27 Sep 2022, 5:54 pm MUHAMMAD SAMIULLAH, ***@***.***>
wrote:

[2022-09-27 12:34] samipak458 commented on #3
Hi @praveenscience sir,
Oh wow amazing 🤩
Thank you so much sir, you help me a lot in my journey.

[2022-09-28 14:58] ghost opened #6 "Adding a Heading and Fix Typo"
Hi there,

I wanted to add another heading for the first section. So after Welcome To Online Library, another title will make it straightforward for another area.
![image](https://user-images.githubusercontent.com/80773310/192812546-784d5740-716c-4f77-b20d-a831ddcd1518.png)

and the second, I want to change the first letter of this box into uppercase instead of lower case
![image](https://user-ima

[2022-09-28 16:17] Petsamuel commented on #6
Assign this issue to me

[2022-09-28 16:18] Petsamuel commented on #3
I'm interested on working on this issue

[2022-09-28 16:29] YashBawa commented on #6
Hello @DHCJS ,
I would like to work on this issue under hacktoberfest tag. Can u please assign it to me.

[2022-09-28 16:30] maharshi-sinha opened #7 "Adding More Option."
Want to add anime to the site.

[2022-09-28 16:31] maharshi-sinha commented on #7
Kindly assign it to me!

[2022-09-28 16:36] samipak458 commented on #6
Hello @DHCJS,

Thank you for creating issue.

Can you tell me what will be another heading for the first section? Can you name it?

Second issue is fine.

Sure I will help you out in making PR.

[2022-09-28 17:59] samipak458 commented on #7
Hi @maharshi-sinha,
Thanks for creating an issue. You can add "anime" but can you make some changes in CSS as well?

[2022-09-28 18:02] samipak458 commented on #3
Hi @Petsamuel,
This issue is resolved by diksha. You can create any other issue. thank you.

[2022-09-28 18:08] maharshi-sinha commented on #7
Yeah! Thinking off!

[2022-09-28 19:36] samipak458 commented on #7
Ok great. Go ahead.
**Note: Don't forget to sync the fork.**

[2022-09-29 01:14] DHCJS commented on #6
Sorry bro, I am gonna assign the PR for myself.

[2022-09-29 01:17] ghost commented on #6
How about "Add a Book" for the heading?

Please assign this issue to me to make a PR if it is okay. Thank you!

[2022-09-29 04:09] samipak458 commented on #6
Ok, go ahead @DHCJS .

**Note: Don't forget to sync the fork.**

[2022-09-29 04:23] YashBawa opened #8 "Adding dark mode to the website"
Adding a dark styling for the dark mode makes the website look even better in two different modes.

[2022-09-29 04:26] YashBawa commented on #8
Hey @samipak458 , can u please assign me this issue under hacktoberfest .
Thanks !!

[2022-09-29 04:27] ghost commented on #6
Additionally, I want to create a Folder for easier management in the Code editor.
Maybe a folder that for HTML and CSS and JavaScript itself.

[2022-09-29 04:35] RichardHanitio opened #9 "Adding filter/sort feature"
Hi, would it be nice if we add filter/sorting feature in "Your Book Shelf" section?

If you agree, please kindly assign it to me, thank you!

[2022-09-29 04:36] samipak458 commented on #6
Assets folder, right?

[2022-09-29 04:38] ghost commented on #6
Right, maybe that's what it's called. So we will create a file for ourselves inside the folder.

Right now, when I open VS code, it only tells me to select a language.

I used to have a folder, and later, I created a file in it. It is a new experience, but hopefully, I will manage to do it correctly.

[2022-09-29 04:40] samipak458 commented on #9
Hi @RichardHanitio thanks for creating an issue.

Filter/sorting is already done by search bar, do you want add additional filter feature? Kindly elaborate.

[2022-09-29 04:41] samipak458 commented on #8
Thanks for creating an issue @YashBawa. That would be great, go ahead.

[2022-09-29 04:51] Shashwat0227 commented on #7
hey , i have learned html and css and can add and style the options too , you can assign it to me

[2022-09-29 05:03] YashBawa commented on #8
Thank you for assigning it, will start working!!

[2022-09-29 05:10] RichardHanitio commented on #9
Yes, I'm thinking of combining the search bar with a filter dropdown, to make it clear what the user's looking for.
For instance, a user may type in "pro" but refer to an author's name, not book name or book type.

[2022-09-29 05:30] Shashwat0227 commented on #3
hey , saw your website , i think i can improve it by adding some more hover effect and by improving the search button and the navigation bar , and you can add more stuff to that like dark mode and other things , if you can assign me this i will  try to improve it more by adding darkmode by one click and other headings with css styling

[2022-09-29 05:50] Shashwat0227 opened #10 "no darkmode and headers can be modified"
the  sign in buttons can be modified and hovering can be improved , and i can add a darkmode button to the site

[2022-09-29 05:51] Shashwat0227 commented on #10
please assign it to me

[2022-09-29 05:52] Shashwat0227 commented on #8
hey i can add dark mode to the site and can fix it , can you assign it to me?

[2022-09-29 07:23] samipak458 commented on #10
Hi @Shashwat0227 thank you for creating issue.

You can improve sign in button and it's hovering. Dark mode issue assigned to someone else. If he failed then I will assigned to you.

You go ahead with with sign in button.

**Note: Don't forget to sync the fork.**

[2022-09-29 07:24] samipak458 commented on #9
That will be great. Go ahead.

[2022-09-29 07:42] Shashwat0227 commented on #10
surely i will check out that sign in button , thanks :) i will try to do that before 4th or 5th oct

[2022-09-29 09:08] Shashwat0227 opened #12 "can add your about , twitter and other links at footer"
can add your twitter , discord , linkedin and all links at the bottom of the page

[2022-09-29 09:28] Shashwat0227 opened #13 "can modify the tables"

[2022-09-29 10:59] ShivaRapolu01 commented on #12
Is it part of hacktoberfest? If yes I am ready to contribute

[2022-09-29 11:23] DevilzzNikhil opened #14 "Adding additional filters of search"
I want to add features like search by author name book name or book type
Please assign it to me @samipak458

[2022-09-29 12:11] samipak458 commented on #12
Thanks for creating issue @Shashwat0227.
Yes, you can add plain footer like in the center you can add @copy write and on right add links of linkedin, GitHub etc.

[2022-09-29 12:12] samipak458 commented on #12
Yes @ShivaRapolu01 it is a part of hacktoberfest.

[2022-09-29 12:13] samipak458 commented on #14
@DevilzzNikhil this issue is already created.

[2022-09-29 12:14] samipak458 commented on #13
@Shashwat0227 can you elaborate how will you modify table?

[2022-09-29 12:46] DevilzzNikhil commented on #14
@samipak458  can u suggest some issues ??

[2022-09-29 13:35] sumitbishti opened #16 "Preventing same books from being added multiple times"
Right now, books with same name, author and type can be added multiple times. Which increases redundancy!
I can work on this issue.

[2022-09-29 13:55] samipak458 commented on #16
Thanks for creating an issue @sumitbishti.
Nicely identify, good job. You can start working on it.

[2022-09-29 14:02] sumitbishti commented on #16
Ok thank you. I have already finished it. When can i submit a PR?
Do i need to create a separate branch for that?

[2022-09-29 14:09] saimaheshtaduri opened #17 "Adding a Edit book option"
Now if we enter the book information incorrect, we have to remove it and add it again. Instead there could be a edit button, using which details can be updated instantly.

[2022-09-29 14:53] samipak458 commented on #17
Thanks for creating an issue @saimaheshtaduri. Nicely identify, great job. Go ahead and add this feature.

[2022-09-29 16:10] Shashwat0227 commented on #12
can you add to a issue inside hacktober fest

[2022-09-29 16:11] Shashwat0227 commented on #13
the table in the site is just dotted lines with no detailing can modify that and can fix all your buttons which are basic right now

[2022-09-29 16:17] samipak458 commented on #12
Done

[2022-09-29 16:19] samipak458 commented on #13
Both the issues are already created by other contributors if they failed then I will ask you to work on it.

[2022-09-29 16:52] Subhangi0707 commented on #8
I want to work on this issue under Hacktoberfest 2022
Thanks!!

[2022-09-29 17:00] Subhangi0707 commented on #10
I want to work on this issue under hacktoberfest 2022
thanks!!

[2022-09-29 17:02] Subhangi0707 commented on #17
I would like to work on this issue under Hacktoberfest 2022
Thanks!!

[2022-09-29 17:11] YashBawa commented on #8
@Subhangi0707 and @Shashwat0227 currently am working on it . Thanks .

[2022-09-30 02:16] diego-rapoport opened #19 "Creating another type of book"
I just made a very few changes to add a new type of book in my fork
![29-09-2022-23h12min45](https://user-images.githubusercontent.com/66575787/193175431-5a57668d-5a6d-496b-8c13-85cf3b00679a.jpg)

It also has a click management to toggle the input tag for all radio buttons and it will keep the type "Other" if you don't write anything inside the input. If this is an interesting feature, I'll be gla

[2022-09-30 03:10] samipak458 commented on #19
Thanks for creating an issue @diego-rapoport. It is an interesting feature. Go ahead and create PR.

**Note: Don't forget to sync the fork.**

[2022-09-30 03:21] samipak458 commented on #14
@DevilzzNikhil you have to wait as features are adding so you can improve their styling.

[2022-09-30 05:12] maveraw opened #21 "Adding seperate log in spaces for the ADMIN and a NEW USER"
HEY !
So adding seperate workspace for an existing user will help them to manage their records and hence modify the previous changes. While, there will be new user who need to log in first to become a member. They will be able to see the already existing books so that they can save/add for themselves from the slot.  @samipak458

[2022-09-30 15:59] nalin243 opened #23 "Adding read status in the library"
Another option can be added in the display telling us whether we have read that book @samipak458

[2022-09-30 18:05] Aryan-Srivastava commented on #16
@sumitbishti yeah, you need to create a separate branch before working on the issue, don't commit on the main branch.

[2022-09-30 18:28] Shashwat0227 commented on #10
hey see i completed this assigned task , check it once and complete it from your end and synced the fork too

[2022-09-30 19:00] Aryan-Srivastava opened #25 "Adding a favorites section"
![fav section book](https://user-images.githubusercontent.com/68139593/193338641-64d59de3-2298-4f86-bbc4-6276a113cf11.png)

[2022-09-30 19:12] Aryan-Srivastava commented on #25
I want to add this feature as a participant, please do assign me this issue.

[2022-09-30 20:23] samipak458 commented on #23
Hi,
Thanks for creating an issue @nalin243. Can you elaborate more like how will you implement it?

[2022-09-30 20:24] samipak458 commented on #21
Hi,
Thanks for creating an issue @maveraw. There is no database is connected, will you use database to save credentials?

[2022-09-30 20:25] samipak458 commented on #25
Hi, thanks for creating an issue @Aryan-Srivastava. Is it clickable to add to favourites?
Isn't it better if you click on heart it add to new section **favourite**?

[2022-09-30 20:49] Aryan-Srivastava commented on #25
A new section in sense, like a section containing only favs just like the general section ? Did I get it right ?

[2022-10-01 01:52] nalin243 commented on #23
![Screenshot_20221001_071943](https://user-images.githubusercontent.com/29351098/193378467-1030e87f-1bcb-4eb8-96dd-9e1c93f9d62e.png)

Something like this? I could also put a checkbox instead of Yes or No to make it editable. @samipak458

[2022-10-01 03:15] maveraw commented on #21
yes

[2022-10-01 03:19] rezwancs opened #28 "Navbar marquee logo issue"
When we hover on the marquee logo "Online Library", on top-left side of the navbar, the height of the navbar increases. Can I please fix this issue?
![image](https://user-images.githubusercontent.com/30120066/193384471-df0b2f1c-03f2-4c46-9668-e618a1ad34d4.png)

[2022-10-01 03:23] rezwancs opened #29 "Improvement of intro text design"
Hi, this text doesn't have the same top and bottom padding, so it doesn't look vertically centered.
Wouldn't it be nice if we keep the title vertically centered?
![image](https://user-images.githubusercontent.com/30120066/193384532-0208cea4-b944-490d-bf1b-40acae56e330.png)

[2022-10-01 03:28] rezwancs opened #30 "Website contents is visible on navbar"
Hi, when we scroll on the website, we can see website content on the navbar. I am just curious if it is intentionally designed that way. If not, can we please fix that ?
![image](https://user-images.githubusercontent.com/30120066/193385636-b31ce548-6d70-4431-9ab6-280b28371f9c.png)

[2022-10-01 05:07] nalin243 opened #31 "Add hand cursor to book delete icon"
Hand cursor should be added to the delete icon to show it is clickable.

[2022-10-01 09:28] nileshlad09 opened #33 "Add Publication Date of Book, ISBN number of book and Edition of Book"
There should be two more Inputs for getting the Publication Date or ISBN number of book Because there are many books can containing the similar type of names so it is easy to find out which book we want by seeing the publication date of the book,
and another input for the edition of the book because there can be many editions available for a similar book

This data is helpful for users to get the

[2022-10-01 10:36] nileshlad09 commented on #33
![image](https://user-images.githubusercontent.com/89249015/193405420-e729d591-fc6e-4f94-8be7-63e1d557485d.png)

![image](https://user-images.githubusercontent.com/89249015/193405462-ac939662-9c2b-4058-bd8d-8e219d64320d.png)

[2022-10-02 04:56] adi-uchiha commented on #12
Can I submit a PR on this?

[2022-10-02 06:43] kushaljgec2025 commented on #29
assign me the task i will try to fix it

[2022-10-02 09:41] samipak458 commented on #3
@Shashwat0227 create new issue

[2022-10-02 09:41] #3 closed, assigned to dvig14

[2022-10-02 09:41] #7 closed, assigned to maharshi-sinha

[2022-10-02 09:42] #9 closed, assigned to RichardHanitio

[2022-10-02 09:58] Shashwat0227 commented on #10
its 3 days and no dark mode is added , so can i add that too ?

[2022-10-02 10:11] Shashwat0227 commented on #12
hey , if you can accept my pending PR , then i can work on this and create that , and please do send me your links which you want on the site

[2022-10-02 10:13] samipak458 commented on #30
hi @rezwan2525,
it designed like that.

[2022-10-02 10:22] samipak458 commented on #33
Hi @nileshlad09,
thank you for creating an issue. You can go ahead and work on it.

[2022-10-02 10:23] samipak458 commented on #33
**Note: Don't forget to sync the fork,**

[2022-10-02 10:24] samipak458 commented on #31
Hi @nalin243,
Thank for creating an issue. You can go ahead and start working on it.

**Note: Don't forget to sync the fork.**

[2022-10-02 10:25] samipak458 commented on #29
Hi @rezwan2525,
Thank for creating an issue. You can go ahead and start working on it.

**Note: Don't forget to sync the fork.**

[2022-10-02 10:26] samipak458 commented on #28
Hi @rezwan2525,
Thank for creating an issue. You can go ahead and start working on it.

**Note: Don't forget to sync the fork.**

[2022-10-02 10:27] samipak458 commented on #25
Yes @Aryan-Srivastava

[2022-10-02 10:27] samipak458 commented on #25
**Note: Don't forget to sync the fork.**

[2022-10-02 10:28] samipak458 commented on #23
Hi @nalin243,
Thank for creating an issue. You can go ahead and start working on it.

Yes, put a checkbox instead of Yes or No.

**Note: Don't forget to sync the fork.**

[2022-10-02 10:29] samipak458 commented on #21
Ok, go ahead @maveraw.

**Note: Don't forget to sync the fork.**

[2022-10-02 10:30] #14 closed, assigned to nobody

[2022-10-02 10:30] #13 closed, assigned to nobody

[2022-10-02 10:34] samipak458 commented on #10
Sure go ahead @Shashwat0227

[2022-10-02 10:37] #31 closed, assigned to nalin243

[2022-10-02 11:20] #33 closed, assigned to nileshlad09

[2022-10-02 11:38] #16 closed, assigned to sumitbishti

[2022-10-02 12:27] #6 closed, assigned to nobody

[2022-10-02 13:35] #23 closed, assigned to nalin243

[2022-10-02 13:44] sumitbishti opened #40 "[Bug] There is still a way to add duplicate "other" type books !!"
There are still some bugs left, and some new ones have occurred after new contributions, like book types are in lowercase letters, etc.
![Screenshot (33)](https://user-images.githubusercontent.com/75713174/193457167-2efa240b-b6c9-47c9-a5a6-e17fd963c59f.png)

[2022-10-02 13:46] sumitbishti commented on #40
I have correctly identified, and fixed some of them, if you allow I can create a new PR.

[2022-10-02 13:58] sumitbishti commented on #30
Well, in my opinion it doesn't give a good look. It looks more of a bug then a design.
Plus it serves no practical purpose. Feel free to correct me, if I'm wrong.

[2022-10-02 17:35] ghost opened #44 "Adding Background and Footer"
I'll add background to the body and improve the footer section by adding about, support, social media links, and experience to make it stand out.

Here is the background preview for the body
![image](https://user-images.githubusercontent.com/80773310/193467855-ab08054c-be36-4f52-b7c3-6fe7cd573fd0.png)

Here is the footer section
![image](https://user-images.githubusercontent.com/80773310/193467867

[2022-10-03 01:44] #19 closed, assigned to diego-rapoport

[2022-10-03 01:46] #29 closed, assigned to rezwancs

[2022-10-03 01:47] #28 closed, assigned to rezwancs

[2022-10-03 01:49] samipak458 commented on #44
It's also great, can you give background some how same to footer ?

[2022-10-03 01:55] samipak458 commented on #40
Ok, go ahead and fix it @sumitbishti

[2022-10-03 03:04] ghost commented on #44
Is this good enough?

![image](https://user-images.githubusercontent.com/80773310/193494146-6311a04d-6eca-400d-b0f7-ccec90a06a59.png)

The clear shelf button looks misplaced, though; I can't figure out how to fix it.

[2022-10-03 04:01] samipak458 commented on #44
Do first one that's look really great. Sure, fix it.

Go ahead and start working on it.

[2022-10-03 04:04] samipak458 commented on #30
I appreciate your opinion. Do you want to improve it?

[2022-10-03 04:17] rezwancs commented on #30
@samipak458 Please assign this ticket to me.

[2022-10-03 04:24] ghost commented on #44
Found a way to connect the background body and footer.
What do you think?
![image](https://user-images.githubusercontent.com/80773310/193501333-04c7899b-97ee-415f-8322-1a350133b60f.png)

[2022-10-03 04:51] sumitbishti commented on #30
Well, we can just make it non-transparent and it would be just fine. If you want it i can do that.

[2022-10-03 06:06] AtriSukul1508 opened #45 "Improve the navbar design"
The design of the navbar can be upgraded

[2022-10-03 06:06] AtriSukul1508 commented on #45
I would like to work on this issue

[2022-10-03 07:36] samipak458 commented on #45
Ok, go ahead @AtriSukul1508

Don't forget to sync the fork

[2022-10-03 10:45] #17 closed, assigned to saimaheshtaduri

[2022-10-03 10:45] samipak458 commented on #17
@Subhangi0707 this issue is closed now. Kindly create another issue.

[2022-10-03 10:46] #30 closed, assigned to nobody

[2022-10-03 12:16] saimaheshtaduri opened #48 "add book urls and also the status of that book"
I think it will be good, if ppl are able to store the url of the book. Thus on clicking the book, they will be able to read it online then and there it self. The status of the book ( if possible the page no where they stopped reading ) will also be useful.

[2022-10-03 13:59] #40 closed, assigned to sumitbishti

[2022-10-03 14:01] samipak458 commented on #44
That's look awesome @DHCJS , kindly implement it. One more thing make it responsive as well.

[2022-10-03 14:03] samipak458 commented on #10
Hi @Subhangi0707,

Kindly add dark mode.

[2022-10-03 14:04] samipak458 commented on #8
@YashBawa what's update? you haven't created PR yet.

[2022-10-03 14:08] Shashwat0227 commented on #10
should i add dark mode ? or footers ?

[2022-10-03 14:12] samipak458 commented on #10
@Shashwat0227 kindly fix error in previous PR.
@Subhangi0707 will work under this issue.

[2022-10-03 14:19] Shashwat0227 commented on #10
The hovering and all is working on my code only , which is on your site , how it is invalid then ? check once

[2022-10-03 14:39] YashBawa commented on #8
Hey @samipak458 , yaa sorry, got stuck with some work, will be creating pr by today itself.

[2022-10-03 14:50] Subhangi0707 commented on #10
kindly assign it to me!!

[2022-10-03 17:59] YashBawa commented on #8
@samipak458 updated with Dark mode and created PR please verify and review it. Sorry for the delay.

[2022-10-03 21:57] YashBawa opened #51 "Preloader for the website"
A preloader looks cool during the loading time of a website.

[2022-10-03 21:59] YashBawa commented on #51
@samipak458 please assign me this issue as I want to work on it. To bring a better look for the website.
Thank you.

[2022-10-03 21:59] YashBawa commented on #8
Merged PR link :- https://github.com/samipak458/Simple-Library-Managment/pull/50#event-7509986542

[2022-10-03 21:59] #8 closed, assigned to YashBawa

[2022-10-04 02:42] ghost commented on #44
Before
![image](https://user-images.githubusercontent.com/80773310/193722728-8c7b2d59-5125-455e-963d-d970559febea.png)
![image](https://user-images.githubusercontent.com/80773310/193722783-feb1ca82-89a3-4abc-b70b-163f6b5cce71.png)

After
![image](https://user-images.githubusercontent.com/80773310/193722644-d630594f-d11f-4632-aee1-31049916f6e2.png)
![image](https://user-images.githubusercontent.com

[2022-10-04 05:25] maveraw commented on #21
i m on it

[2022-10-04 07:51] samipak458 commented on #48
Ok you can work on this issue but you also have to make book shelf responsive.

[2022-10-04 07:51] samipak458 commented on #48
I will assign once you acknowledge @saimaheshtaduri

[2022-10-04 07:52] saimaheshtaduri commented on #48
Will do it @samipak458

[2022-10-04 08:15] sarthakastic opened #53 "Mobile Responsive!"
The site is not mobile responsive.
Navbar and books table are not responsive. It's overflowing in x axis.

[2022-10-04 09:47] saimaheshtaduri opened #54 "bug: dark mode button toggle issue and improve dark mode design"
Issues I encountered :
- The dark mode button icon is not toggling well.
- The nav bar is not so attractive, the search bar could be a bit longer
- In dark mode, date icon isn't visible
- There is no validation for ISBN number input field
- improve fonts and colors

[2022-10-04 09:49] saimaheshtaduri commented on #25
@Aryan-Srivastava  are you working on this ?

[2022-10-04 09:55] saimaheshtaduri opened #55 "Improve README.md"
As new features and functionalities have come, I think the readme should be updated too

[2022-10-04 09:59] saimaheshtaduri commented on #48
new idea : I think, there should be a **finished** button, on clicking, the book has to move to other section or just a finished tag attached to it.

[2022-10-04 10:01] saimaheshtaduri commented on #25
I think, instead of having a separate column, the heart icon can be put in the bottom right of the name column itself. It could save a column as the table is already filled .

[2022-10-04 10:30] samipak458 commented on #55
Thanks for creating an issue @saimaheshtaduri. Go ahead.

[2022-10-04 10:35] saimaheshtaduri opened #56 "Adding a custom book type."
When user selects other, a input should appear where they can type the book type. This could be useful coz very few types are mentioned.

[2022-10-04 10:49] saimaheshtaduri commented on #48
@samipak458  can I start working on this ?

[2022-10-04 12:24] YashBawa commented on #51
@samipak458 can I start working on this issue?

[2022-10-04 15:09] samipak458 commented on #51
Sure, go ahead @YashBawa

[2022-10-04 15:11] samipak458 commented on #48
Sure, go ahead @saimaheshtaduri

[2022-10-04 15:12] samipak458 commented on #53
Go ahead and fix it @sarthakastic

[2022-10-04 15:13] samipak458 commented on #56
Go ahead and fix it @saimaheshtaduri

[2022-10-04 15:14] samipak458 commented on #54
Go ahead and fix it @saimaheshtaduri

[2022-10-04 15:20] samipak458 commented on #53
@sarthakastic also make the navbar responsive

**Note: Don't forget to sync the fork.**

[2022-10-04 15:23] saimaheshtaduri commented on #48
I will make these changes :
- add a url input in the add book form.
- On clicking the book title in table, the corresponding url opens.
- will make a **finished** toggle button, if its on, that means, the book is finished reading.

@samipak458  please check them once. I will start working.

[2022-10-04 15:32] sarthakastic commented on #53
sure.
Could u also add the hacktoberfest-accepted label?

[2022-10-04 15:57] saimaheshtaduri commented on #56
@samipak458  I see the custom type feature is already implemented, but I encountered a major bug i.e. **add book** isn't working. and I figured out why. Can I just raise a PR directly solving that issue ?

[2022-10-04 16:12] YashBawa commented on #51
Thanks, @samipak458 will go ahead with it.

[2022-10-04 16:55] Aryan-Srivastava commented on #25
On it, yeah it think so that will be a better thing to do

[2022-10-04 19:06] saimaheshtaduri opened #61 "fix add book button"

[2022-10-05 11:05] saimaheshtaduri commented on #61
PR raised already #59  @samipak458

[2022-10-05 14:08] #61 closed, assigned to saimaheshtaduri

[2022-10-06 06:58] #51 closed, assigned to YashBawa

[2022-10-06 07:57] samipak458 commented on #56
Close this one and create new issue before creating PR .

[2022-10-06 08:26] #56 closed, assigned to saimaheshtaduri

[2022-10-06 13:43] #44 closed, assigned to nobody

[2022-10-06 13:45] samipak458 commented on #45
@AtriSukul1508 kindly fix search bar as well.

[2022-10-06 13:49] #54 closed, assigned to saimaheshtaduri

[2022-10-06 14:34] AtriSukul1508 commented on #45
what's the problem with the search bar?

[2022-10-06 19:40] samipak458 commented on #45
If you click on search bar page refresh.

[2022-10-06 19:46] vaibhav-1508 opened #68 "Dark Mode toggle button not working properly and the darkmode transition is not smooth"
I would like to work on this

[2022-10-06 19:49] samipak458 commented on #68
Ok, go ahead and also use gradient in dark mode if possible.

[2022-10-06 22:00] akshit5565 opened #70 "Adding yes or no to the read section, without it the section looks confusing"
I want to contribute to the project under the hacktoberfest.
@samipak458 please assign me the task.
Thank You!!

[2022-10-07 06:26] #68 closed, assigned to vaibhav-1508

[2022-10-07 06:27] samipak458 commented on #70
Ok, go ahead @akshit5565

[2022-10-07 14:12] soustab10 opened #72 "Search Text not visible + Improve Dark Mode toggle"
Search Bar text not visible due to poor contrast:
![image](https://user-images.githubusercontent.com/95632583/194573521-569d6589-b5e8-4826-8dfe-ca5edaf70826.png)

Improve dark mode toggle to this:
![image](https://user-images.githubusercontent.com/95632583/194573697-6f57a942-96f8-472e-a3e9-24c615aaf182.png)
![image](https://user-images.githubusercontent.com/95632583/194573783-5bcf2297-e262-4233-83

[2022-10-07 14:36] samipak458 commented on #72
Ok, go ahead @soustab10

[2022-10-07 14:46] jmdinela opened #73 "Add Font Family and make background better"

[2022-10-07 18:07] #72 closed, assigned to soustab10

[2022-10-07 18:07] samipak458 commented on #73
Can you let me know which font family are you planning to add and how will you improve background?

[2022-10-07 18:43] samipak458 commented on #73
@jmdinela ?

[2022-10-08 07:09] #25 closed, assigned to Aryan-Srivastava

[2022-10-08 08:30] koder-aritra commented on #55
I would like to work on this issue.Can you assign it to me?

[2022-10-08 08:58] koder-aritra opened #76 "Add the count of Stars and Forks of the repo in the footer section of the website"
I would like to add the count of the stars and forks of the repo in the footer section of the website.

[2022-10-08 10:50] #48 closed, assigned to saimaheshtaduri

[2022-10-08 12:10] shreyas-9 opened #77 "Heart symbol isn't visible in dark mode"
kindly assign me with this task for hacktoberfest (2022), I can fix the issue
thankyou!

[2022-10-08 13:23] samipak458 commented on #77
Ok go ahead and fix it @shreyas-9

[2022-10-08 13:24] samipak458 commented on #76
Ok go ahead @koder-aritra

[2022-10-09 07:20] #77 closed, assigned to shreyas-9

[2022-10-09 07:22] #73 closed, assigned to nobody

[2022-10-09 09:27] AnshuPathak-88825 opened #79 "Social links are empty"

[2022-10-09 09:29] AnshuPathak-88825 commented on #79
I wanna add all the social link in social icons pls assign me this issue @samipak458

[2022-10-09 14:19] #70 closed, assigned to akshit5565

[2022-10-09 17:04] samipak458 commented on #79
Hi @AnshuPathak-88825,
Thanks for raising the issue but I don't think this is valid issue. Can you make website responsive?

[2022-10-09 17:20] AnshuPathak-88825 commented on #79
ok I'm closing it I'll raise another issue for that

[2022-10-09 17:20] #79 closed, assigned to nobody

[2022-10-09 17:21] AnshuPathak-88825 opened #80 "Website isn't responsive"

[2022-10-09 17:22] AnshuPathak-88825 commented on #80
pls assign me this issue

[2022-10-09 19:54] stringer1000 opened #81 "Add regex check to input fields"
ISBN has not regex check:
![image](https://user-images.githubusercontent.com/115400732/194776770-42770a4f-44d0-44a9-83e0-8096eed20db8.png)

URL has no Regex Check

I would like to solve this issue. Assign to me.

[2022-10-10 12:09] samipak458 commented on #81
Go ahead @stringer1000

[2022-10-10 12:12] samipak458 commented on #80
Ok, go ahead.
**Note: Don't forget to sync the fork.**

[2022-10-10 17:51] #81 closed, assigned to stringer1000

[2022-10-10 17:52] #10 closed, assigned to Shashwat0227

[2022-10-10 17:56] Shashwat0227 commented on #10
You kind of cheap , you dumb cheap guy

On Mon, 10 Oct 2022, 23:22 MUHAMMAD SAMIULLAH, ***@***.***>
wrote:

[2022-10-10 18:14] samipak458 commented on #55
@koder-aritra I will assign you tomorrow if @saimaheshtaduri not reply.

@saimaheshtaduri are you working on this issue or not?

[2022-10-10 18:15] samipak458 commented on #76
@koder-aritra any updates?

[2022-10-10 18:16] saimaheshtaduri commented on #55
yes,I am. I will raise pr by tomorrow

[2022-10-11 07:55] DEV-Dhruva opened #84 "I will fixed navbar design issue"
![image](https://user-images.githubusercontent.com/94905683/195031163-15fe48d3-3dc4-45ba-b5ee-6ba16e587999.png)
Navbar is transparent, which causes text to show behind it.
This can be fixed by changing opacity of navbar.
Please assign this issue to me

[2022-10-11 13:39] samipak458 commented on #84
Ok, go ahead @DEV-Dhruva

[2022-10-11 13:41] #45 closed, assigned to AtriSukul1508

[2022-10-13 13:31] M-Rahul1 commented on #12
can I work on it. @samipak458 is it completed?

[2022-10-13 13:36] M-Rahul1 opened #87 "Improve footer section"
I would like to add copy rights and footer link. @samipak458

[2022-10-13 13:53] samipak458 commented on #87
@M-Rahul1 thanks for creating an issue. Kindly make the website responsive as this issue is not valid.

[2022-10-14 07:04] samipak458 commented on #87
@M-Rahul1 if you want to make website responsive then make new issue.

[2022-10-14 07:04] #87 closed, assigned to nobody

[2022-10-14 07:05] #12 closed, assigned to Shashwat0227

[2022-10-14 07:06] samipak458 commented on #53
I will add that label on PR. Kindly make the PR @sarthakastic

[2022-10-14 07:06] samipak458 commented on #80
@AnshuPathak-88825 any updates?

[2022-10-14 07:06] #84 closed, assigned to DEV-Dhruva

[2022-10-14 07:53] AnshuPathak-88825 commented on #80
I'll complete it by Sunday

[2022-10-14 09:15] samipak458 commented on #80
Ok

[2022-10-14 16:51] AnshuPathak-88825 opened #88 "Text isn't visible in dark theme"

[2022-10-14 16:51] AnshuPathak-88825 commented on #88
pls assign me this issue

[2022-10-14 18:33] samipak458 commented on #88
Kindly add screenshot of the issue @AnshuPathak-88825

[2022-10-15 19:49] jyotika6221 commented on #55
If the issue is not resolved yet, plz assign me this task.

[2022-10-15 19:50] jyotika6221 opened #92 "Add CONTRIBUTING.md"

[2022-10-15 20:27] samipak458 commented on #92
It's already added @jyotika6221

[2022-10-15 20:28] samipak458 opened #93 "Made footer responsive"

[2022-10-15 20:29] samipak458 commented on #88
@AnshuPathak-88825 ?

[2022-10-15 20:29] jyotika6221 commented on #92
oh ok.

[2022-10-15 20:29] #92 closed, assigned to nobody

[2022-10-15 20:49] Nevish-302 commented on #93
can you please assign this issue to me?

[2022-10-16 01:59] AnshuPathak-88825 commented on #88
Dude your website completely destroyed
![image](https://user-images.githubusercontent.com/78332454/196014288-9986f9f3-22a7-48c5-b5ef-c499d8e76be9.png)

[2022-10-17 20:16] samipak458 commented on #88
Kindly fix it @AnshuPathak-88825
Make it responsive.
Don't forget to add Screenshots in PR.
Note: don't forget to sync the fork

[2022-10-18 00:42] AnshuPathak-88825 commented on #88
I'm creating another that is all about to revert website in last fixed version

[2022-10-18 00:44] AnshuPathak-88825 opened #96 "Revert back to old fixed version"

[2022-10-18 00:44] AnshuPathak-88825 commented on #96
pls assign me this issue

[2022-10-18 07:02] #93 closed, assigned to nobody

[2022-10-18 07:03] samipak458 commented on #96
No need to revert. Kindly see the current website @AnshuPathak-88825

[2022-10-18 07:03] #88 closed, assigned to AnshuPathak-88825

[2022-10-18 07:03] #53 closed, assigned to sarthakastic

[2022-10-18 07:03] #80 closed, assigned to AnshuPathak-88825

[2022-10-20 02:41] #96 closed, assigned to nobody

[2022-10-21 23:06] samipak458 commented on #76
Are you working on it @koder-aritra ?

[2022-10-21 23:07] samipak458 commented on #21
@maveraw any updates?

[2022-10-22 02:30] deepaksuthar40128 commented on #76
can you assign it to me

[2022-10-22 02:59] theshubhamgour commented on #55
I would like to work on this issue.Can you assign it to me? @samipak458

[2022-10-22 03:11] tejus0 opened #99 "Footer design"
Hey @samipak458 I just saw your amazing website. The design is good but the footer is not developed well. So I want to contribute in your footer and make it more attractive. Can you please assign this issue to me? ![Screenshot_2022-10-22-08-39-16-027_com.android.chrome.png](https://user-images.githubusercontent.com/76488943/197316537-066d986c-18ed-4a9d-b4d7-4c6ece36c1c5.png)

[2022-10-22 06:53] samipak458 commented on #99
Sure, go ahead @tejus0 and don't forget to add Screenshots in pull request.

[2022-10-22 06:56] samipak458 commented on #55
Ok @saimaheshtaduri

[2022-10-22 06:57] samipak458 commented on #55
@theshubhamgour and @jyotika6221 @saimaheshtaduri is already working on it. You guys can contribute to web storage.md or Azure static web app.md.

[2022-10-22 07:42] sakshimishra19 opened #101 "Update Header Section"
Hello @samipak458 !
I want to update header section and also add some extra features to it.
Kindly assign this issue to me.

[2022-10-22 07:47] CoderAayush2104 opened #102 "Correct typos in html"
Please assign this to me.

[2022-10-22 07:59] samipak458 commented on #102
Go ahead @CoderAayush2104

[2022-10-22 08:01] samipak458 commented on #101
Thanks for creating an issue @sakshimishra19
Can you let me know what extra feature you're planning to add?

[2022-10-22 08:13] sakshimishra19 commented on #101
I want to add a sign up button in the Header section so that people can register themselves before adding a book and also want to remove the checkbox next to the search button which is not needed

[2022-10-22 08:33] samipak458 commented on #101
There is no sigin/sign-up functionality available currently. You can remove the checkbox and also edit search filters to filter.

[2022-10-22 08:40] theshubhamgour commented on #55
@samipak458 Please help with the directory link where we need to update the readme.md files

[2022-10-22 08:41] VighneshManjrekar opened #103 "Toggle button for favorite book"
Toggle button can be more accurate or more user-friendly form control for the favorite book toggle. If you want to fix this issue kindly assign this to me I am willing to contribute on this

[2022-10-22 08:44] samipak458 commented on #55
@theshubhamgour Here are the links:
[Azure Static Web Apps](https://github.com/samipak458/Simple-Library-Managment/blob/main/Azure%20Static%20Web%20Apps.md)
[Web Storage](https://github.com/samipak458/Simple-Library-Managment/blob/main/Web%20Storage.md)

[2022-10-22 08:45] VighneshManjrekar commented on #103
If you want to fix this issue kindly assign this to me I am willing to contribute on this

[2022-10-22 08:45] samipak458 commented on #103
Thanks for creating an issue @VighneshManjrekar.
Go ahead and fix it

[2022-10-22 08:46] VighneshManjrekar commented on #103
@samipak458 can we use static image file for the heart logo? and thank you for assigning me this issue :)

[2022-10-22 08:55] samipak458 commented on #103
Kindly tell me in detail what are you planning to do @VighneshManjrekar. Also add screenshots that will be great.

[2022-10-22 08:58] VighneshManjrekar commented on #103
Sure First I will replace checkbox with toggle button
and can we use image file for logo instead of `&#9829` unicode

[2022-10-22 08:59] VighneshManjrekar commented on #103
If it is out of the scope or not necessary I will only work on the toggle button enhancement

[2022-10-22 09:01] sakshimishra19 commented on #101
ok

[2022-10-22 09:08] VighneshManjrekar commented on #103
![image](https://user-images.githubusercontent.com/69366251/197331099-6e107b79-9f7d-47cc-b529-49b8603ff140.png)
is this fine?

[2022-10-22 09:24] samipak458 commented on #103
Yes, It looks good.

[2022-10-22 09:25] #103 closed, assigned to VighneshManjrekar

[2022-10-22 10:09] #76 closed, assigned to koder-aritra

[2022-10-22 10:40] samipak458 commented on #101
@sakshimishra19 header is not fixed yet. Kindly fix it

[2022-10-22 10:43] samipak458 opened #107 "Dark mode not working"
Fix dark mode and also fix dark mode toggle button.

[2022-10-22 11:17] sakshimishra19 commented on #101
Done

[2022-10-22 12:51] KishorBhagat commented on #107
I want to work on this. Please assign me this.

[2022-10-22 12:54] Shaba1406 opened #110 "Link to social media"
the linking of social media is not working. please assign this issue to me @samipak458

[2022-10-22 13:09] samipak458 commented on #110
@Shaba1406 you can work on it. If you want it is valid issue. Kindly reopen issue if you want to work.

[2022-10-22 13:10] samipak458 commented on #107
Sure go ahead @KishorBhagat.
**Note: Don't forget to sync the fork.**

[2022-10-22 13:39] Shaba1406 commented on #110
yes i want to work on this.

[2022-10-22 13:57] samipak458 commented on #110
Here you can find all my links of socials:
[Social handles](https://linktr.ee/muhammadsamiullah)
[Facebook](https://www.facebook.com/sami.munir.3939)

[2022-10-22 13:59] samipak458 commented on #110
@Shaba1406 go ahead and create PR

[2022-10-22 14:17] Shaba1406 commented on #110
@samipak458 Can you please Share your instagram id as well.

[2022-10-22 14:37] samipak458 commented on #110
@Shaba1406  here is my [insta](https://www.instagram.com/sami_munir1/) id

[2022-10-22 15:03] #110 closed, assigned to Shaba1406

[2022-10-22 15:19] PratikshaManjrekar opened #115 "Toggle button for book read form control"
Add book form has checkbox for book read input where both yes and no can be selected
Instead of checkbox there should be radio button or some sort of toggle button
Can I work on this issue?

[2022-10-22 15:23] samipak458 commented on #115
Thanks for creating an issue @PratikshaManjrekar
Toggle will be good
Go ahead and do changes

[2022-10-22 15:47] Ishikasaraf20 commented on #99
hey @samipak458 can you assign this issue to i can work on it

[2022-10-22 16:17] #107 closed, assigned to KishorBhagat

[2022-10-22 16:23] tejus0 commented on #99
Yes @samipak458 you can assign this issue to her. As I am really busy on some other tasks for a while.

[2022-10-22 16:26] samipak458 commented on #99
@Ishikasaraf20 go ahead and fix the footer design

[2022-10-22 17:58] #55 closed, assigned to saimaheshtaduri

[2022-10-23 01:37] LeidiFlores opened #119 "Make another space/card for "Your Book Shelf" section"
## Problem

Currently on the page the _Your Book Shelf_ section looks like that

![image](https://user-images.githubusercontent.com/62189355/197368940-70b169ab-fddc-46f0-bc0e-25ed2f94fbfd.png)

I think needs space from the another section/card.

## Solution propose

Making a card for "Your Book Shelf"

Please assign to me for help us with that for hacktoberfest

[2022-10-23 07:58] samipak458 commented on #119
Thanks for creating an issue @LeidiFlores
Yes that will be great, go ahead @LeidiFlores

[2022-10-23 09:03] Shaba1406 opened #120 "FAQ section"
I would like to add FAQ section for the website. Please assign this issue to me @samipak458

[2022-10-23 09:19] samipak458 commented on #120
That will be great @Shaba1406
Can you explain how will you add that?

[2022-10-23 09:41] PavvanPradeep commented on #99
can i work on this

[2022-10-23 10:00] PavvanPradeep commented on #101
can i work on this?

[2022-10-23 10:01] PavvanPradeep commented on #102
can i work on this?

[2022-10-23 10:09] Shaba1406 commented on #120
I'm going to build its structure using html, CSS and java script. Html will include the documentation part, CSS will provide the look and javascript will make it responsive And for the documentation part, you can suggest to me what type of question and answers I have to add and if you wish, I can raise another PR for that as well.

here is the screenshot:-

![Online Library - Google Chrome 23-10-2

[2022-10-23 10:32] samipak458 commented on #120
Amazing @Shaba1406 nicely identified, there is a need of FAQs.
Some of the questions, I have in mind:
Why do we use it?
Where does my books stored?
Can I edit my books?
Is it secured?
Is there any limit to store books?
How to contact us?
Not find your questions. Do mail your question at mail...

[2022-10-23 10:58] samipak458 commented on #101
It's already fixed @PavvanPradeep

[2022-10-23 10:58] #101 closed, assigned to sakshimishra19

[2022-10-23 11:37] #120 closed, assigned to Shaba1406

[2022-10-23 13:20] LeidiFlores commented on #119
Thanks! I'm on it

[2022-10-23 13:34] PavvanPradeep opened #124 "Dark mode toggle option"

[2022-10-23 13:34] PavvanPradeep commented on #124
@samipak458 can i work on this feature?

[2022-10-23 13:35] samipak458 commented on #124
Go Head @PavvanPradeep

[2022-10-23 15:44] LeidiFlores commented on #119
hi! @samipak458 is ready here https://github.com/samipak458/Simple-Library-Managment/pull/125 :)

[2022-10-23 19:03] #119 closed, assigned to LeidiFlores

[2022-10-23 20:08] LeidiFlores opened #126 "Too much blank space on page"
## Problem

On the page exists too much blank space, so looks like that

![image](https://user-images.githubusercontent.com/62189355/197415510-4a62b411-73b6-4c5b-80b9-4d02003b47f5.png)

## Proposed solution

Center the page on the content for a nice and clean look and feel.

Please assign me to help you and add a hacktoberfest tag

[2022-10-23 20:11] samipak458 commented on #126
Thank you for creating an issue @LeidiFlores
Sure, go ahead

[2022-10-23 20:43] LeidiFlores commented on #126
thanks! I'm on it :)

[2022-10-23 21:26] LeidiFlores commented on #126
@samipak458 is ready here https://github.com/samipak458/Simple-Library-Managment/pull/127  :)!

[2022-10-24 05:39] #126 closed, assigned to LeidiFlores

[2022-10-24 08:46] #115 closed, assigned to PratikshaManjrekar

[2022-10-24 15:08] Burekslayer opened #129 "Found some minor issues with positioning on smaller devices."

[2022-10-24 15:09] Burekslayer commented on #129
I could work on fixing those (hacktober)

[2022-10-24 15:35] samipak458 commented on #129
Sure, go ahead. Don't forget to attach screenshots of your changes and sync the fork

[2022-10-24 18:01] Burekslayer commented on #129
I created a pull request and posted image samples of the problem.

[2022-10-24 18:32] #129 closed, assigned to Burekslayer

[2022-10-25 05:22] maveraw commented on #21
@samipak458 hi buddy , sorry my exams were going on. I am resuming my work. Hopefully I will complete it today itself. So sorry for the delay.

[2022-10-25 05:26] samipak458 commented on #21
Sure sure
Try to do in October so that it will count in Hacktoberfest

[2022-10-25 05:27] #102 closed, assigned to CoderAayush2104

[2022-10-25 07:29] PavvanPradeep commented on #124
the dark mode toggle option is already there so you can close this issue

[2022-10-25 07:29] #124 closed, assigned to PavvanPradeep

[2022-10-26 02:29] samipak458 opened #133 "Update Readme.md"

[2022-10-26 02:29] samipak458 commented on #99
@Ishikasaraf20 updates?

[2022-10-26 05:58] Ishikasaraf20 commented on #99
yes  @samipak458 making a PR's just a minute

[2022-10-26 06:03] Ishikasaraf20 commented on #99
hey @samipak458 i've made the footer kindly reveiw the changes and if you find this helpful kindly merge it your main branch just check your PR

[2022-10-26 06:10] samipak458 commented on #99
Kindly add screenshots @Ishikasaraf20

[2022-10-26 06:14] Ishikasaraf20 commented on #99
Here it is if you find this helpful  please merge it your main branch @samipak458
![Screenshot from 2022-10-26 11-43-52](https://user-images.githubusercontent.com/88148077/197948705-5f644f17-d4e3-4c81-a45f-b6a2bb97dbea.png)

[2022-10-26 12:05] samipak458 commented on #99
Also add screenshots in mobile view @Ishikasaraf20 and also create the PR.

[2022-10-27 04:01] #99 closed, assigned to Ishikasaraf20

[2022-10-28 08:47] samipak458 commented on #21
Any updates @maveraw

[2022-10-29 06:31] samipak458 opened #138 "Let's Celebrate your Contributions"
As we all know **Hacktoberfest** is a month-long celebration of open-source projects, their maintainers, and the entire community of contributors.

You guys do an amazing contributions to my open source project 🎉. I hope you guys also learn something new and improve your skills by contributing.

Thank you so much to taking your time out and contributing to open source. Wish you guys all the best f

[2022-10-29 06:39] Shaba1406 commented on #138
https://www.linkedin.com/in/shaba-zehra-pathan-14a364224

On Sat, Oct 29, 2022, 12:02 PM MUHAMMAD SAMIULLAH ***@***.***>
wrote:

[2022-10-29 06:47] DEV-Dhruva commented on #138
https://linkedin.com/in/dhruva-ludbe-597194216

[2022-10-29 06:49] nileshlad09 commented on #138
https://www.linkedin.com/in/nilesh-lad-476216216/

[2022-10-29 06:52] deepaksuthar40128 commented on #138
https://www.linkedin.com/in/deepak-suthar-aa3267225/

[2022-10-29 06:53] ghost commented on #138
https://www.linkedin.com/in/hcj06/

psst... I've sent you a connection request.

[2022-10-29 07:07] AtriSukul1508 commented on #138
https://www.linkedin.com/in/atri-sukul-35a9b022a

[2022-10-29 07:10] sakshimishra19 commented on #138
https://www.linkedin.com/in/sakshi-mishra-ab97b6225/

[2022-10-29 07:29] RichardHanitio commented on #138
https://www.linkedin.com/in/richard-hanitio-411967213/

[2022-10-29 07:32] sarthakastic commented on #138
https://www.linkedin.com/in/sarthak-gupta-896997181

[2022-10-29 07:43] dvig14 commented on #138
https://www.linkedin.com/in/diksha14

On Sat, 29 Oct 2022, 1:02 pm SARTHAK GUPTA, ***@***.***>
wrote:

[2022-10-29 08:12] KishorBhagat commented on #138
https://www.linkedin.com/in/kishor-bhagat-10b3aa22b

[2022-10-29 08:52] Burekslayer commented on #138
https://www.linkedin.com/in/burekslayer

[2022-10-29 14:23] vaibhavyadav-dev commented on #138
www.linkedin.com/in/vaibhav-yadav-4397351b9

[2022-10-29 14:31] Aryan-Srivastava commented on #138
https://www.linkedin.com/in/aryan-srivastava-08032003

[2022-10-29 14:33] shreyas-9 commented on #138
https://www.linkedin.com/in/shreyasaila/

On Sat, Oct 29, 2022 at 12:01 PM MUHAMMAD SAMIULLAH <
***@***.***> wrote:

[2022-10-29 15:43] Ishikasaraf20 commented on #138
https://www.linkedin.com/in/ishika-saraf-263215210/

[2022-10-29 16:14] LeidiFlores commented on #138
https://www.linkedin.com/in/leidi-flores-8a7959157

[2022-10-29 16:23] abdulhaseeb036 commented on #138
Thanks, Muhammad Samiullah for this open-source project.

My  LinkedIn: https://www.linkedin.com/in/haseeb-alam-48679b19a/

On Sat, Oct 29, 2022 at 11:31 AM MUHAMMAD SAMIULLAH <
***@***.***> wrote:

[2022-10-29 17:49] diego-rapoport commented on #138
https://www.linkedin.com/in/diego-rapoport-774227138/

[2022-10-29 20:30] Anant2961 commented on #138
https://www.linkedin.com/in/anant-joshi-a18708210/

[2022-10-29 20:31] kalosFestus opened #139 "nav-item"
Hello @samipak458 , the hover background-color does not cover the full text on hover and the nav-items are not rightly padded and positioned, I could work on it if changes are required, please assign this issue to me under hacktoberfest, thank you

[2022-10-30 04:12] adwaith-krishna commented on #138
https://www.linkedin.com/in/adwaith-krishna-7a7390219/

[2022-10-30 06:35] rezwancs commented on #138
https://www.linkedin.com/in/rezwan2525/

[2022-10-30 10:08] samipak458 commented on #139
Go ahead @kalosFestus

[2022-10-30 10:10] samipak458 commented on #133
If anyone wants to work on it. Just make PR directly, don't need to ask.

[2022-10-30 10:30] kalosFestus commented on #139
Thank you @samipak458 ,  please accept my PR under hacktoberfest I have done the changes according to the issue.

![nav-items adjusted](https://user-images.githubusercontent.com/79145625/198873981-48f66dff-4c47-4d9f-964b-8076d9fcd87f.png)

[2022-10-30 10:32] samipak458 commented on #139
Good job @kalosFestus 👍

[2022-10-30 10:32] #139 closed, assigned to kalosFestus

[2022-10-30 10:33] samipak458 commented on #138
@kalosFestus

[2022-10-30 10:38] kalosFestus commented on #138
https://www.linkedin.com/in/festus-adeyemi-24361213b

[2022-10-30 18:03] akshit5565 commented on #138
https://www.linkedin.com/in/akshit-garg-73a122232/

[2022-11-05 07:20] #21 closed, assigned to maveraw

[2022-11-14 01:33] samipak458 commented on #138
Thank you @everyone

[2022-11-14 01:33] #138 closed, assigned to nobody

[2022-11-16 04:04] varshil-shah commented on #138
Thanks, Muhammad Samiullah for this open-source project.

My linkedin account - https://www.linkedin.com/in/shahvarshil/

[2022-11-19 12:32] soustab10 commented on #138
www.linkedin.com/in/soustab-haldar-022ba8229

Would love to get a shout-out.